# Langfuse configuration
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=http://localhost:3001

# Qdrant configuration
QDRANT_URL=http://localhost:6333

# LLM configuration
LLM_MODEL=gpt-5-nano
LLM_BASE_URL=
LLM_API_KEY=

